.container{
    width: 500px;
    height: 500px;
    display: flex;
    /* flex-direction: row-reverse;   */
    /* justify-content: space-around; */
    /* align-items: flex-end; */
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
    /* align-content: flex-end; */
    flex-flow: column-reverse;

    
}
/* ***** istedigimiz elemani tekbasina alip kaydirabiliyoruz align-self ile    **** */
.div4{
    align-self: center;
}
/* *********order ile siralamayi degistirebiliyoruz */
/* .div3{
    
    order: 1;
} */
.box{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}